<header>
  <mat-toolbar color="primary">Angular UX</mat-toolbar>
</header>

<div class="container-fluid">
  <div class="row mt-3 justify-content-center">
    <mat-card>
      <form [formGroup]="fileForm">
        <!-- <div class="form-group">
          <label for="folderPath">Project Folder Path</label>
          <input type="email" class="form-control" id="folderPath" aria-describedby="folderPath" placeholder="Path/to/your/project"
            formControlName="folderPath">
        </div> -->
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="appFile" (change)="readFile($event.target.files[0])" formControlName="appFile">
            <label class="custom-file-label" for="appFile">{{file ? file.name : 'Choose app.module.ts file'}}</label>
          </div>
        </div>
        <div class="w-100 text-center">
          <button mat-raised-button type="submit" color="accent" class="text-uppercase font-weight-bold">Start</button>
        </div>
      </form>
    </mat-card>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col-auto" *ngFor="let node of nodes">
      <div class="card rounded-0">
        <div class="card-body">
          <div class="card-title border-bottom">
            <app-node-badge [nodeType]="node.type"></app-node-badge>{{node.className}}
          </div>
          <div class="card-text">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let declaration of node.declarations">
                {{declaration.className}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>